

.login-clean {
  background:#ffffff;
  margin: 9% 0% 0% 0%;
}

.login-clean form {
  max-width: 22%;
  height: 29rem;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 55px;
  border-radius: 0;
  color: #161e25;
  box-shadow: 2px 3px 5px 5px #E91E63;
  text-align: center;

}

.login-clean .login-form{
  font-family: auto;
  font-size: 30px;
  font-style: italic;
  padding: 30px 0 30px 0;
}

.login-clean form .form-control {
  background:#f4f4f44d;
  border:none;
  border-bottom:1px solid #dfe7f1;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
  text-indent:8px;
  height:42px;
}

.login-clean form .btn-primary {
  background:#f4476b;
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin: 40px 0 15px 0;
  text-shadow:none;
  outline:none !important;
}

.login-clean form .btn-primary:hover, .login-clean form .btn-primary:active {
  background:#eb3b60;
}

.login-clean form .btn-primary:active {
  transform:translateY(1px);
}

.login-clean form .forgot {
  text-align:center;
  font-size:14px;
  color:#6f7a85;
  opacity:0.9;
  text-decoration:none;
  
}

.login-clean form .forgot:hover, .login-clean form .forgot:active {
  opacity:1;
  text-decoration:none;
}

p {
  font-size: 1rem;
  font-weight: 600;
  padding: 50px 0 0 0;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

.table td, .table th {
  padding: 9px 35px 0px 63px;
  vertical-align: top;
  border-top: 1px solid #dcdcdc;
}


img {
  vertical-align: middle;
  border-style: none;
  height: 320px;
  width: 250px;
}

img#frontImg {
  height: 140px;
  width: 115px;
}

.mt-4, .my-4 {
  margin-top: 1rem!important;
}

.pb-3, .py-3 {
  padding-bottom: 1rem!important;
  margin: 0 10px 0 10px;
}

.footer {
  right: 0;
  bottom: 3px;
  left: 0;
  padding: 0rem;
  background-color: #efefef;
  text-align: center;
  margin: 50px 0 0 0px;
}
